* {
  outline: dotted 2px orange;
}

html {
  width: 900px;
  margin: auto;
}

.name-logo {
  margin-top: 20px;
  display: inline-block;
  width: 250px;
}

.sub-txt {
  text-transform: uppercase;
  font-family: 'Abel', sans-serif;
  color: #888;
  font-size: 13px;
}

#logo {
  float:left;
  z-index: 0;
}

.delicious {
  font-family: 'Yellowtail', cursive;
  font-size: 36px;
  z-index: 1;
}

.social-icons {
  /* display: inline; */
  float: right;
  margin-top: 30px;
}

/*via: ibrahimjabbari codepen*/
hr.style11 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
  margin-top: 35px;
}

.chocolate {
  font-family: 'Anton', sans-serif;
  font-size: 35px;
  margin-bottom: 5px;
}

.blog-post-name {
  width: 300px;
}

.print {
  float: right;
  display: inline;
  width: 60px;
  margin-bottom: 10px;
}

#print-text {
  float: right;
}


footer {
  color: #888;
  text-align: center;
  font-family: georgia;
}

/*via stackoverflow*/
.line {
    border-bottom: 1px solid #888;
    text-align:center;
    height:17px;
    margin-bottom:17px;
}

.lineImg {
    background-color:white;
    padding:0px 5px 0px 5px;
}
